.App {
  text-align: center;
  background-color: #0E0E0E;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

p, h1, h2, h3, h4, h5, h6, span, a, div {
  color: white;
}

.background {
  background-color: #282c34;
  min-height: 100vh;
}
